.navbar__container{
    width: 100vw;
    height: 60px;
    background-color: rgb(149, 64, 64);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}

.nav__link{
    text-decoration: none;
    color: white;
    font-size: 21px;
    font-weight: 500;
}
